@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

body h2 {
    color: white;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.spnQtd {
    text-align: right;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 100%;
    text-align: start;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000CCC;
    color: whitesmoke;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.finish button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000CCC;
    color: whitesmoke;
}
